<!DOCTYPE html>
<html>
  <head>
    <title>PierianSpring</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('Picture2.png') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>window.close_x = "<%= image_url('close-outline.svg') %>"</script>
    <script>window.logo = "<%= image_url('Picture1.png') %>"</script>
    <script>window.image_5 = "<%= image_url('image_5.jpg') %>"</script>
    <script>window.ugs = "<%= image_url('ugs.png') %>"</script>
    <script>window.registration = "<%= image_url('registration.png') %>"</script>

  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
